<h3>{{ _('OctoAutoremote') }}</h3>

<form class="form-horizontal">
    <div class="octoautoremote_config_group">
       <p>See <a href="https://joaoapps.com/autoremote/personal/" target=_new>AutoApps/AutoRemote</a> for details on setting up Autoremote
       and getting your <code>personal key</code>.</p>
        <div class="row-fluid">
	    <div class="span3"><h4>Autoremote Key</h4></div>
	    <div class="span9">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoAutoremote.autoremotekey.value">
            </div>
        </div>
        <div class="row-fluid">
	    <div class="span2"><h4>Test</h4></div>
	    <div class="span10">
                <input type="text" class="input-block-level" data-bind="value: settings.plugins.OctoAutoremote.autoremotekey.test">
            </div>
        </div>
    </div>
    
    <div><hr></div>
    {% set printingevents = ["PrintStarted","PrintFailed","PrintCancelling","PrintCancelled","PrintPaused","PrintResumed","PrintDone"] %}
    {% set printerevents = ["Connecting","Connected","Disconnecting","Disconnected","Error"] %}
    {% set serverevents = ["Startup","Shutdown","ClientOpened","ClientClosed"] %}
    {% set timelapseevents = ["MovieRendering","MovieDone","MovieFailed"] %}
    
    <h2>Printing Events</h2>
    <div class="octoautoremote_config_group">
        <div class="row-fluid">
            <div class="span3"><h4>Event</h4></div>
            <div class="span1"><h4>Enable</h4></div>
	</div>
    {% for event in printingevents %}
        <div class="row-fluid">
            <div class="span3">{{event}}</div>
            <div class="span1 control-group" title="Enable or disable this notification">
              <input type="checkbox" data-bind="checked: settings.plugins.OctoAutoremote.events.{{event}}">
	    </div>
       </div>
    {% endfor %}
    </div>

    <div><hr></div>
    <h2>Printer Events</h2>
    <div class="octoautoremote_config_group">
        <div class="row-fluid">
            <div class="span3"><h4>Event</h4></div>
            <div class="span1"><h4>Enable</h4></div>
	</div>
    {% for event in printerevents %}
        <div class="row-fluid">
            <div class="span3">{{event}}</div>
            <div class="span1 control-group" title="Enable or disable this notification">
              <input type="checkbox" data-bind="checked: settings.plugins.OctoAutoremote.events.{{event}}">
	    </div>
        </div>
    {% endfor %}
    </div>

    <div><hr></div>
    <h2>Server Events</h2>
    <div class="octoautoremote_config_group">
        <div class="row-fluid">
            <div class="span3"><h4>Event</h4></div>
            <div class="span1"><h4>Enable</h4></div>
	</div>
    {% for event in serverevents %}
        <div class="row-fluid">
            <div class="span3">{{event}}</div>
            <div class="span1 control-group" title="Enable or disable this notification">
              <input type="checkbox" data-bind="checked: settings.plugins.OctoAutoremote.events.{{event}}">
	    </div>
        </div>
    {% endfor %}
    </div>

    <div><hr></div>
    <h2>TimeLapse Events</h2>
    <div class="octoautoremote_config_group">
        <div class="row-fluid">
            <div class="span3"><h4>Event</h4></div>
            <div class="span1"><h4>Enable</h4></div>
	</div>
    {% for event in timelapseevents %}
        <div class="row-fluid">
            <div class="span3">{{event}}</div>
            <div class="span1 control-group" title="Enable or disable this notification">
              <input type="checkbox" data-bind="checked: settings.plugins.OctoAutoremote.events.{{event}}">
	    </div>
        </div>
    {% endfor %}
    </div>

</form>
