.config_group {
    border: 2px solid #a1a1a1;
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    text-align: left;
    border-radius: 25px;
    outline-offset: 10px;
}
.config_row {
    padding-bottom: 5px;
    vertical-align: middle;
}
